/* body */
h1{
    font-size: 56px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 28px;
}
.white{
    color: white;
}
.black{
    color: black;
}
.center{
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit
}
body{
    margin: 0;  
    font-family: Roboto;
    font-size: 16px;
}

/* /body */
/* header */

header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    top: 0;
    background-color: white;
}
header > * {
    display: inline-block;
    margin-right: 8%;

}
.header_section{
    display: inline-block;
    margin-left: 3rem;  
}
.logo{
    margin-left: 10%;       
    width: 10%;
    font-weight: bold;
}
.header_section > a{
    font-weight: bold;
}

/* /header */
/* hero image */

.section_hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    margin-top: 4rem;
    background-color: #2E2F42;
}
.hero_objects{
    text-align: center;
    margin: 0 auto;
}
.hero_block{
    margin: 0 auto;  
    padding-bottom: 50px;  
}
.hero_button{
    margin: 0 auto;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    line-height: 56px;
}

/* /hero image */
/* description section */

.description_block{
    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5vh;
}
.card_body_desc{
    width: 25%;
    margin-top: 10vh;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
}
.bold_text{
    font-weight: bold;
}
.aboutus_cardbody{
    background-color: #F4F4FD;
    padding-top: 15vh;
}
.aboutus_row{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 15vh;
}
.aboutus_card{
    display: inline-block;
    margin: 0 auto;
    width: 250px;
    background-color: white;
    padding-bottom: 5vh;
}
.aboutus_img > *{
    width: 250px;
}
.aboutus_header{
    width: 250px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;  
    padding-bottom: 50px;  
    text-align: center;
}
.aboutus_header > *{
    margin: 0 auto;
    
}

/* /description section */
/* footer */
footer{
    background-color: #2E2F42;
    height: 312px;
}
.footer_block{
    padding-left: 10%;
    padding-top: 10vh;
}
/* /footer */