/* body */

body{
    margin: 0;  
}

/* /body */
/* header */

header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    top: 0;
    background-color: white;
}
header > * {
    display: inline-block;
    margin-right: 10%;

}
.header_section{
    display: inline-block;
    margin-left: 3rem;  
}
.logo{
    margin-left: 10%;       
    width: 10%;
}

/* /header */
/* hero image */

.section_hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 600px;
    margin-top: 4rem;
    background-color: #2E2F42;
}
.hero_objects{
    text-align: center;
    margin: 0 auto;
}
.hero_block{
    font-size: 56px;
    margin: 0 auto;  
    padding-bottom: 50px;  
}
.hero_button{
    margin: 0 auto;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    line-height: 56px;
}

/* /hero image */
/* description section */

.description_block{
    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card_body_desc{
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}
.bold_text{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.aboutus_cardbody{
    background-color: #F4F4FD;
}

/* /description section */