/* body */

body{
    margin: 0;  
}

/* /body */
/* header */

header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    top: 0;
}
header > * {
    display: inline-block;
    margin-right: 10%;

}
.header_section{
    display: inline-block;
    margin-left: 3rem;  
}
.logo{
    margin-left: 10%;       
    width: 10%;
}

/* /header */
/* hero image */

.section_hero{
    font-size: 56px;
    margin-top: 4rem;
    height: 600px;
    color: white    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2E2F42;
}
.hero_block{
margin: 0 auto;    
}

/* /hero image */